<html>

<head>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" href="/../qfc-dark.css">
  <!-- <link rel="stylesheet" href="qfc-light.css"> -->

</head>

<body>
  <div class="qfc-container">
    <h2>Portfolio Form For owner's Contact Detail</h2>
<label style="text-align:center; color:#85144b;" >LET'S CREATE BY OWN</label>
    <form action="/contact/<%=contact[0]._id%>?_method=PUT" method="POST" enctype="multipart/form-data">
	
		
		   <h3 style="text-align:center; color:#85144b;">
			CONTACT DETAILS
		</h3>
		<div>
		  <div>
            <input placeholder="Email " type="email" value="<%=contact[0].email%>" name="contact[email]"required>
        </div>
		   <div>
            <input placeholder="Facebook " type="url" value="<%=contact[0].facebook%>" name="contact[facebook]"required>
        </div>
					 <div>
			                    <label for="image">Edit CircularImage</label>
 
            <input placeholder="image" id="image"type="file" value="<%=contact[0].image%>" name="image" accept="image/*" >
        </div>	

		   <div>
            <input placeholder="Twitter" type="url" value="<%=contact[0].twitter%>" name="contact[twitter]" required>
        </div>
		   <div>
            <input placeholder="Instagram" type="url" value="<%=contact[0].instagram%>" name="contact[instagram]" required>
        </div>
		   <div>
            <input placeholder="Phone" type="Number" value="<%=contact[0].phone%>" name="contact[phone]" required>
        </div>
		  
		   <div>
            <input placeholder="Youtube" type="url" value="<%=contact[0].youtube%>" name="contact[youtube]"required>
        </div>
		   <div>
            <input placeholder="Linkedin" type="url" value="<%=contact[0].linkden%>"name="contact[linkden]"required>
        </div>
	<div>
			
          <button type="submit">Submit</button>
		</div>
				
		</div>
	  </form>
	</div>
	</body>
	
<div style="padding-bottom:15px; font-family: 'Roboto';color:white;" align="center">
  made with <span style="color:#e25555;">PASSION</span> by <a target="_blank" href="https://twitter.com/siwalik">RAUSHAN</a> and the <a target="_blank" href="https://github.com/siwalikm/quick-form-css/graphs/contributors">internet</a></div>
<style>
  a {
    color :#00bcd4;
    text-decoration: none;
  }
</style>
</html>
