<html>
<head>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" href="/../qfc-dark.css">
  <!-- <link rel="stylesheet" href="qfc-light.css"> -->

</head>

<body>
  <div class="qfc-container">
    <h2>Portfolio Form For Owner Detail </h2>
<label style="text-align:center; color:#85144b;" >LET'S CREATE BY OWN</label>
	
    <form action="/form1/<%=owner[0]._id%>?_method=PUT" method="POST"  enctype="multipart/form-data">
		<h3 style="text-align:center; color:#85144b;" >
			OWNER DETAILS
		</h3>
      <div>
        <div>
            <input placeholder="First Name" type="text" value="<%=owner[0].firstname%>"  name="owner[firstname]"required>
        </div>
		  <div>
            <input placeholder="Last Name" type="text" value="<%=owner[0].lastname%>"  name="owner[lastname]" required>
        </div>
		   <div>
            <input placeholder="address" type="text" value="<%=owner[0].address%>"  name="owner[address]"required>
        </div>
        <div>
			                    <label for="image">Image</label>
 
            <input placeholder="image" id="image"type="file" value="<%=owner[0].image%>" name="image" accept="image/*" >
        </div>
        <div>
            <input placeholder="Tagline" type="text" value="<%=owner[0].tagline%>" name="owner[tagline]"required>
        </div>
		   <div>
            <input placeholder="Description in Heading" type="text" value="<%=owner[0].headingdescription%>" name="owner[headingdescription]"required>
        </div>
		   <div>
            <input placeholder="Description" type="text"value="<%=owner[0].description%>"  name="owner[description]"required>
        </div>
		<div>
			
          <button type="submit">Submit</button>
		  </div>
		</div>
		  
        
	  </form></div></body>
<div style="padding-bottom:15px; font-family: 'Roboto';color:white;" align="center">
  made with <span style="color:#e25555;">PASSION</span> by <a target="_blank" href="https://twitter.com/siwalik">RAUSHAN</a> and the <a target="_blank" href="https://github.com/siwalikm/quick-form-css/graphs/contributors">internet</a></div>
<style>
  a {
    color :#00bcd4;
    text-decoration: none;
  }
</style>
</html>
