<!DOCTYPE html>
<html>
<head>
	<title>Portfolio</title>
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" href="/stylesheets/main.css">
	<style>
body {background-image: url(/../img3.jpg);}
	</style>
	</head>
	<body>
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="thumbnail">
				
<img class="img-responsive" src="<%=project.image%>">
				<div class="caption-full">
					<h4 class="pull-right">
						<%=project.created%>
					</h4>
					<h4>
					<a><%=project.title %></a>
					</h4>
					<P>
						<%=project.boby%>
					</P>
					<p>
						<em>Submitted by:<%=project.author.username%></em>
					</p>
					<div class="row">
				
					<% if(currentUser){%>
						  <a class="btn btn-warning" href="/project/<%=project._id%>/editproject/">edit project</a>
					<form id="deleteform" action="/showproject/<%=project._id%>?_method=DELETE" method="POST">
						<button class="btn btn-danger">
							DELETE
						</button>
					</form>
								
					
						<%  }  %>
					</div>
				</div>
			</div>
			
		</div>
	</div>
</div>


	</body></html>